body {
    margin: 0px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
header {
    background-color: green;
    color: white;
    font-size: 4vw;
    font-family: 'gugi', Arial, Helvetica, sans-serif;
    text-align: center;
}
.button_hide {
    display: none;
}
.card{
    display: inline-block;
}
.card_front {
    display: none;
}
.card img {
    height: 26vh;
}
.winner {
    position: absolute;
    background-color: green;
    color: white;
    border: 1px solid white;
    border-radius: 20%;
    font-size: 4vh;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .card img {
        height: 100%;
        width: 23vw;
    }
}