body {
    margin: 0px;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
header {
    background-color: green;
    color: white;
    font-size: 4vh;
    font-family: 'gugi', Arial, Helvetica, sans-serif;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}
.button_hide {
    display: none;
}
.card{
    display: inline-block;
}
.card_front {
    display: none;
}
.card img {
    height: 26vh;
}
.winner {
    color: white;
    font-size: 4vh;
    text-align: center;
    padding: 3px;
}
@media screen and (max-width: 600px) {
    .card img {
        height: 100%;
        width: 23vw;
    }
    header {
        font-size: 4vw;
    }
}